<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdx.mapper.user.SyUserMapper">

    <resultMap id="BaseResultMap" type="com.xdx.entitys.pojo.SyUser">
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId" />
        <result column="user_status" jdbcType="TINYINT" property="userStatus" />
        <result column="is_authorize" jdbcType="TINYINT" property="isAuthorize" />
        <result column="gender" jdbcType="TINYINT" property="gender" />
        <result column="user_remarks" jdbcType="VARCHAR" property="userRemarks" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,
        wx_open_id,
        user_status,
        is_authorize,
        gender,
        user_remarks
    </sql>



</mapper>